.vagrant/machines/main/virtualbox/action_provision
.vagrant/machines/main/virtualbox/action_set_name
.vagrant/machines/main/virtualbox/box_meta
.vagrant/machines/main/virtualbox/creator_uid
.vagrant/machines/main/virtualbox/id
.vagrant/machines/main/virtualbox/index_uuid
.vagrant/machines/main/virtualbox/private_key
.vagrant/machines/main/virtualbox/synced_folders
.vagrant/machines/main/virtualbox/vagrant_cwd
.vagrant/machines/server1/virtualbox/action_provision
.vagrant/machines/server1/virtualbox/action_set_name
.vagrant/machines/server1/virtualbox/box_meta
.vagrant/machines/server1/virtualbox/creator_uid
.vagrant/machines/server1/virtualbox/id
.vagrant/machines/server1/virtualbox/index_uuid
.vagrant/machines/server1/virtualbox/private_key
.vagrant/machines/server1/virtualbox/synced_folders
.vagrant/machines/server1/virtualbox/vagrant_cwd
.vagrant/machines/server2/virtualbox/action_provision
.vagrant/machines/server2/virtualbox/action_set_name
.vagrant/machines/server2/virtualbox/box_meta
.vagrant/machines/server2/virtualbox/creator_uid
.vagrant/machines/server2/virtualbox/id
.vagrant/machines/server2/virtualbox/index_uuid
.vagrant/machines/server2/virtualbox/private_key
.vagrant/machines/server2/virtualbox/synced_folders
.vagrant/machines/server2/virtualbox/vagrant_cwd
.vagrant/machines/server3/virtualbox/action_provision
.vagrant/machines/server3/virtualbox/action_set_name
.vagrant/machines/server3/virtualbox/box_meta
.vagrant/machines/server3/virtualbox/creator_uid
.vagrant/machines/server3/virtualbox/id
.vagrant/machines/server3/virtualbox/index_uuid
.vagrant/machines/server3/virtualbox/private_key
.vagrant/machines/server3/virtualbox/synced_folders
.vagrant/machines/server3/virtualbox/vagrant_cwd
